@model EFCoreTestApp.Models.Product

    <input name="original.Id" value="@Model.Supplier?.ID" type="hidden" />
    <input name="original.Name" value="@Model.Supplier?.Name" type="hidden" />
    <input name="original.City" value="@Model.Supplier?.City" type="hidden" />
    <input name="Original.State" value="@Model.Supplier?.State" type="hidden" />

<input type="hidden" asp-for="Supplier.ID" />
<div class="form-group">
    <label asp-for="Supplier.Name"></label>
    <input asp-for="Supplier.Name" class="form-control"/>
</div>
<div class="form-group">
    <label asp-for="Supplier.City"></label>
    <input asp-for="Supplier.City" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Supplier.State"></label>
    <input asp-for="Supplier.State" class="form-control" />
</div>

@if(Model.Supplier?.Concat != null)
{
    <div class="form-group">
        <label asp-for="Supplier.Concat.Name"></label>
        <input asp-for="Supplier.Concat.Name" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Supplier.Concat.Phone"></label>
        <input asp-for="Supplier.Concat.Phone" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="Supplier.Concat.Location.LocationName"></label>
        <input asp-for="Supplier.Concat.Location.LocationName" class="form-control" readonly />
    </div>
}